* {
    box-sizing: border-box;
}

body {
    margin: 4%;
    background-image: url("paper.png");
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    border-right:solid black 2px;
    height: 100%; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
p{
text-align: justify;
font-family: Verdana;
font-size: 1em;
padding:10px;
}
h2{
font-family: "Baskerville, serif;
font-size:18px;
text-align: center;
color: #001a00;
}
a{
text-decoration:none;
}